USE [master]
GO
/****** Object:  Database [Invoice_Dev_201805]    Script Date: 5/3/2018 7:55:00 PM ******/
CREATE DATABASE [Invoice_Dev_201805]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Invoice_Dev_201805', FILENAME = N'D:\project\tiga\!db data\Invoice_Dev_201805.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Invoice_Dev_201805_log', FILENAME = N'D:\project\tiga\!db data\Invoice_Dev_201805_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Invoice_Dev_201805].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Invoice_Dev_201805]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 5/3/2018 7:55:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedTime] [datetime] NULL,
	[ModifiedTIme] [datetime] NULL,
	[Username] [nvarchar](255) NULL,
	[InvoiceContent] [nvarchar](max) NULL,
	[Total] [decimal](20, 5) NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
